<!DOCTYPE html>
<html lang="en">

        <% include head %>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">
                
            </div>
            <div class="content pure-g">
                    <% include general-sidebar %>
                    <main class="pure-u-1 pure-u-md-5-6">
                            <h2>My Projects</h2>
            <aside>
                <a href='/project/create'>Start a new Project</a><br>
            </aside>
            <aside>
                    <a href='/projects'>List Public Projects</a><br>
                </aside>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr><th>Project Title</th><th>Role</th><th>Type</th><th>Location</th>
                    <th>Status</th><th>Privacy</th></tr>
                </thead>
                <tbody>
                <% projects.forEach(function(project) {
                    const models = {
                        bbs: 'Breeding Bird Survey',
                        'turtle-watch': 'Turtle Watch',
                        cbc: 'Christmas Bird Count',
                        'iba-survey': 'IBA Survey',
                        'acoustic-survey': 'Acoustic Survey',
                        'birdbox': 'Nest Box Watch'
                    };
                    const statuses = {
                        open: 'Open to contributors',
                        closed: 'Closed to contributors',
                        archived: 'Archived'
                    };
                    const privacy = public => public ? 'Public' : 'Private';
                    %>
                    <tr>
                        <td><a href="/project/<%= project.slug %>"><%= project.title %></a></td>
                        <td><%= project.memberRole %></td>
                        <td><%= models[project.model] %></td>
                        <td><%= project.location %></td>
                        <td><%= statuses[project.status] %></td>
                        <td><%= privacy(project.public) %></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
            </main>
        </div>
        <% include footer %>
    </div>
</body>

</html>