<!DOCTYPE html>
<html lang="en">

        <% include head %>

        <%
            const hasLineBreaks = text => (text.match(/\n/g)||[]).length;
            const toMd = text => hasLineBreaks(text) ? md.render(text) : text;
        %>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">

            </div>
            <div class="content pure-g">
            <% include project-menu %>
            <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
            <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
            || project.memberRole === 'contributor'; %>
            <main class="pure-u-1 pure-u-md-3-5">
                    <h2>Reviews for <%= locals.t('Observation', project) %> <%= observationId %></h2>
                    <a href="/project/<%= project.slug %>/cycle/<%= cycleId %>/survey/<%= surveyId %>/observation/<%= observationId %>/review">
                        Add new review
                    </a><br>
                    <a href="/project/<%= project.slug %>/cycle/<%= cycleId %>/survey/<%= surveyId %>/observation/<%= observationId %>">Return to <%= locals.t('Observation', project) %> <%= observationId %></a>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr><th>Pass?</th><th>Reviewer</th><th>Comments</th><th>Reviewed at</th></tr>
                </thead>
                <tbody>
                <%
                    reviews.forEach(review => {
                %>
                    <tr>
                        <td><%= review.pass ? 'Yes' : 'No' %></td>
                        <td><%= review.reviewer.firstName + ' ' + review.reviewer.lastName %></td>
                        <td><%- (review.comments ? toMd(review.comments) : '[no comments]') %></td>
                        <td><%= review.createdAt %></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
            </main>
        </div>
        <% include footer %>
    </div>
</body>

</html>