<!DOCTYPE html>
<html lang="en">

<% include head %>

<%
const projectTypeSettings = locals.R.pathOr({}, ['projectSettings', project.model, 'observations'], locals);
const hasLineBreaks = text => (text.match(/\n/g)||[]).length;
const toMd = text => hasLineBreaks(text) ? md.render(text) : text;
const canHavePhotos = ! project.config.noPhotos;
const archiveAudio = projectTypeSettings.archiveAudioLink;
const noLineBasedReviews = projectTypeSettings.noLineBasedReviews;
const allowNewData = projectTypeSettings.allowNewData;

%>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">

            </div>
            <div class="content pure-g">

            <% include project-menu %>
            <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
            <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
            || project.memberRole === 'contributor'; %>

            <main class="pure-u-1 pure-u-md-5-6">

            <h3 class="content-subhead">
                    <a href='/project/<%= project.slug %>/cycles'><%= locals.t('Cycles', project) %></a> &raquo;
                    <a href='/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/surveys'><%= observation.Survey.Cycle.title %></a>  &raquo;
                    <a href='/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>'><%= locals.t('Survey', project) %> #<%= observation.Survey.id %></a> &raquo;
                    <a href='/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observations'><%= locals.t('Observations', project) %></a> &raquo;
                    <%= locals.t('Observation', project) %> # <%= observation.id %>
                </h3>


            <% if(isContrib && canHavePhotos) { %>
                <a href="/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observation/<%= observation.id %>/upload">Add photo</a><br>
            <% } %>
            <form action="/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observation/<%= observation.id %>/review" method="POST" class="pure-form pure-form-aligned">
            <% if (observation.get('reviewCount')) { %>
                <a href="/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observation/<%= observation.id %>/reviews">Show all <%= observation.get('reviewCount') %> reviews</a>
            <% } else { %>
                No reviews yet. <a href="/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observation/<%= observation.id %>/review">
                    Add a review
                </a>
            <% } %>
            <% if(review && !noLineBasedReviews) { %>
                <p>When in review, each row must be checked off as correct, before you can submit it as passed.</p>
            <% } %>

            <% include datatable %>

            <% if (review) { %>
                <p>Your name and time of review will be recorded when you complete your review.</p>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="form-invitees">Review Notes</label>
                        <textarea rows="6" cols="35" name="comments" placeholder="Enter comments here (optional)"></textarea>
                    </div>
                </fieldset>
                <fieldset>
                        <div class="pure-control-group">
                            <label for="comment-submit"></label>
                            <button type="submit" name="submitComment" value="1" class="pure-button pure-button-primary" id="comment-submit">Submit comment</button>
                        </div>
                </fieldset>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="pass-submit">Passing the review will also submit your comments</label>
                        <button type="submit" class="pure-button pure-button-primary button-success green" id="pass-submit">Pass review</button>
                    </div>
                </fieldset>
            <% } %>
            </form>
            <% if (review) { %>
                <form action="/project/<%= project.slug %>/cycle/<%= observation.Survey.Cycle.id %>/survey/<%= observation.Survey.id %>/observation/<%= observation.id %>/review" method="POST" class="pure-form pure-form-aligned">
                    <% if (allowNewData) { %>
                    <fieldset>
                        <legend>New identification</legend>
                        <div class="pure-control-group">
                            <label for="form-x-ebird-checklist-url">labelText</label>
                            <input type="text" name="newData" placeholder="e.g. Gray squirrel" class="pure-input-1-3" required>
                        </div>
                    </fieldset>
                    <% } %>
                    <fieldset>
                        <input type="hidden" value="1" name="invalidate">
                        <div class="pure-control-group">
                            <label for="invalidate-submit"></label>
                            <button type="submit" class="pure-button button-error" id="invalidate-submit"><%= allowNewData ? 'Change identification' : 'Invalidate and resubmit data' %></button>
                        </div>
                    </fieldset>
                </form>
            <% } %>
            </main>
        </div>
        <% include footer %>
    </div>
</body>

</html>