<!DOCTYPE html>
<html lang="en">

        <% include head %>

        <%
            const hasLineBreaks = text => (text.match(/\n/g)||[]).length;
            const toUrl = text => locals.isUrl(text) ? md.render(`[${text}](${text})`) : text;
            const toMd = text => hasLineBreaks(text) ? md.render(text) : toUrl(text);
        %>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">

            </div>
            <div class="content pure-g">
            <% include project-menu %>
            <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
            <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
            || project.memberRole === 'contributor'; %>
            <main class="pure-u-1 pure-u-md-3-5">
                    <h2><%- review ? 'Review ' : '' %>Data: <%= locals.t('Survey', project) %> <%= survey.id %></h2>
                    <% if(isContrib) { %>
                        <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/observation/new">Add <%= locals.t('observation', project) %></a><br>
                    <% } %>
                    <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/surveys">Return to <%= locals.t('surveys', project) %> for <%= survey.Cycle.title  %></a>
            <form action="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/review" method="POST"  class="pure-form pure-form-aligned">
            <% if(review) { %>
                <p>When in review, each row must be checked off as correct, before you can submit it as passed.</p>
            <% } %>
            <% if (survey.get('reviewCount')) { %>
            <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/reviews">Show all <%= survey.get('reviewCount') %> reviews</a>
            <% } else { %>
            No reviews yet.
            <% } %>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr><th>Row</th><th>Value</th><%- review ? '<th>Correct?</th>' : '' %></tr>
                </thead>
                <tbody>
                <%
                    const data = JSON.parse(survey.data);
                    Object.keys(data).forEach(key => {
                %>
                    <tr>
                        <td><%= key %></td>
                        <td><%- (typeof data[key] === 'string' ? toMd(data[key]) : data[key] || '[no data]') %></td>
                        <% if (review) { %>
                            <td>
                                <input type="checkbox" required>
                            </td>
                        <% } %>
                    </tr>
                <% }); %>
                    <tr>
                        <td><%= locals.t('observations', project) %></td>
                        <td><a <%= review ? 'target="_blank" ' : '' %> href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/observations">Show all <%= survey.get('observationCount') %> <%= locals.t('observations', project) %> <%= review ? '(opens new window)' : '' %></a></td>
                        <% if (review) { %>
                            <td>
                                <input type="checkbox" required>
                            </td>
                        <% } %>
                    </tr>
              </tbody>
            </table>
            <% if (review) { %>
                <p>Review notes are only recorded if review is passed. For failed reviews, leave any review notes when re-entering under the notes section.</p>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="form-invitees">Review Notes</label>
                        <textarea rows="6" cols="35" name="comments" placeholder="Enter comments here (optional)"></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="pass-submit"></label>
                        <button type="submit" class="pure-button pure-button-primary button-success" id="pass-submit">Pass review</button>
                    </div>
                </fieldset>
            <% } %>
            </form>
            <% if (review) { %>
                <form action="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/review" method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <input type="hidden" value="1" name="invalidate">
                        <div class="pure-control-group">
                            <label for="invalidate-submit"></label>
                            <button type="submit" class="pure-button button-error" id="invalidate-submit">Invalidate and resubmit data</button>
                        </div>
                    </fieldset>
                </form>
            <% } %>
            </main>
        </div>
        <% include footer %>
    </div>
</body>

</html>