<!DOCTYPE html>
<html lang="en">

<% include head %>

    <body>
        <% include menu %>
            <div class="content-wrapper">
                <div class="header">
                </div>
                <div class="content pure-g">

                    <% include project-menu %>

                    <main class="pure-u-1 pure-u-md-4-5">

                            <h2><%= cycle.title %> Surveys</h2>
                        <aside>
                            <a href='/project/<%= projectSlug %>/cycle/<%= cycle.id %>/survey/new'>Submit survey</a><br>
                            <a href='/project/<%= projectSlug %>/cycles'>Return to list of cycles</a>
                        </aside>
                        <table class="pure-table pure-table-horizontal">
                            <thead>
                                <tr><th>Start</th><th>End</th><th></th><th></th><th>Observations</th>
                                <th>Submitted by</th><th>Submission date</th></tr>
                            </thead>
                            <tbody>
                            <%
                                surveys.forEach(survey => {
                            %>
                                <tr>
                                    <td><%= moment(survey.start).format('MMM Do YYYY, h:mm a') %></td>
                                    <td><%= moment(survey.end).format('MMM Do YYYY, h:mm a') %></td>
                                    <td><a href="/project/<%= projectSlug %>/cycle/<%= cycle.id %>/survey/<%= survey.id %>">View data</a></td>
                                    <td><a href="/project/<%= projectSlug %>/cycle/<%= cycle.id %>/survey/<%= survey.id %>/review">Review data</a></td>
                                    <td><a href="/project/<%= projectSlug %>/cycle/<%= cycle.id %>/survey/<%= survey.id %>/observations"><%= survey.get('observationCount') %> records</a></td>
                                    <td><%= survey.author.firstName %> <%= survey.author.lastName %></td>
                                    <td><%= moment(survey.createdAt).format('MMM Do YYYY, h:mm a') %></td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </main>

                </div>
            </div>
    </body>

</html>