<!DOCTYPE html>
<html lang="en">

        <% include head %>

        <%
            const projectTypeSettings = locals.R.pathOr({}, ['projectSettings', project.model, 'surveys'], locals);
            const noLineBasedReviews = projectTypeSettings.noLineBasedReviews;
            console.log('PROJ1', project);
        %>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">

            </div>
            <div class="content pure-g">
            <% include project-menu %>
            <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
            <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
            || project.memberRole === 'contributor'; %>
            <main class="pure-u-1 pure-u-md-5-6">

                    <h3 class="content-subhead">
                            <a href='/project/<%= project.slug %>/cycles'><%= locals.t('Cycles', project) %></a> &raquo;
                            <a href='/project/<%= project.slug %>/cycles'><%= survey.Cycle.title %></a> &raquo;
                            <%= locals.t('Survey', project) %> # <%= survey.id %> <%- review ? '(Review)' : '' %>
                        </h3>


                    <% if(isContrib) { %>
                        <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/observation/new">Add <%= locals.t('observation', project) %></a><br>
                    <% } %>

            <form action="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/review" method="POST"  class="pure-form pure-form-aligned">
            <% if(review && !noLineBasedReviews) { %>
                    <p>When in review, each row must be checked off as correct, before you can submit it as passed.</p>
                <% } %>
            <% if (survey.get('reviewCount')) { %>
            <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/reviews">Show all <%= survey.get('reviewCount') %> reviews</a>
            <% } else { %>
            No reviews yet. <a href="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/review">
                Add a review
            </a>
            <% } %>

            <% include datatable %>

            <% if (review) { %>
                <p>Your name and time of review will be recorded when you complete your review.</p>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="form-invitees">Review Notes</label>
                        <textarea rows="6" cols="35" name="comments" placeholder="Enter comments here (optional)"></textarea>
                    </div>
                </fieldset>
                <% if (noLineBasedReviews) { %>
                <fieldset>
                        <div class="pure-control-group">
                            <label for="comment-submit"></label>
                            <button type="submit" name="submitComment" value="1" class="pure-button pure-button-primary" id="comment-submit">Submit comment</button>
                        </div>
                </fieldset>
                <% } %>
                <fieldset>
                    <div class="pure-control-group">
                        <% if (noLineBasedReviews) { %>
                        <label for="pass-submit">Passing the review will also submit your comments</label>
                        <% } else { %>
                            <label for="pass-submit"></label>
                        <% } %>
                        <button type="submit" class="pure-button pure-button-primary button-success" id="pass-submit">Pass review</button>
                    </div>
                </fieldset>
            <% } %>
            </form>
            <% if (review) { %>
                <form action="/project/<%= project.slug %>/cycle/<%= survey.Cycle.id %>/survey/<%= survey.id %>/review" method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <input type="hidden" value="1" name="invalidate">
                        <div class="pure-control-group">
                            <label for="invalidate-submit"></label>
                            <button type="submit" class="pure-button button-error" id="invalidate-submit">Invalidate and resubmit data</button>
                        </div>
                    </fieldset>
                </form>
            <% } %>
            </main>
        </div>
        <% include footer %>
    </div>
</body>

</html>