<!DOCTYPE html>
<html lang="en">

<% include head %>

<%

const projectTypeSettings = locals.R.pathOr({}, ['projectSettings', project.model, 'surveys'], locals);
const noReviews = projectTypeSettings.noReviews;
const countUnreviewed = () => surveys.filter(survey => !survey.get('reviewCount')).length;
const noAssignments = projectTypeSettings.excludeColumns.includes('Assignments');

%>

    <body>
        <% include menu %>
            <div class="content-wrapper">
                <div class="header">
                </div>
                <div class="content pure-g">

                    <% include project-menu %>
                    <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
                    <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
                    || project.memberRole === 'contributor'; %>

                    <main class="pure-u-1 pure-u-md-5-6">

                            <h3 class="content-subhead">
                                <a href='/project/<%= projectSlug %>/cycles'><%= locals.t('Cycles', project) %></a> &raquo;
                                <a href='/project/<%= projectSlug %>/cycles'><%= cycle.title %></a> &raquo;
                                <%= locals.t('Surveys', project) %>
                            </h3>
                            <aside class="pure-u-1-3">
                                    <% if(isContrib) { %>
                                        <a href='/project/<%= projectSlug %>/cycle/<%= cycle.id %>/survey/new' ><%= locals.t('Submit survey', project) %></a><br>
                                    <% } %>
                                    </aside>
                            <div class="pure-g">
                                <div class="pure-u-2-3">
                                    <%= filter ? 'Filtered: ' + countUnreviewed() : surveys.length %> <%= locals.t('surveys', project) %> shown
                                    <% if(isContrib && !noReviews) { %>
                                        <% if ( !filter ) { %>
                                            (<a href='/project/<%= projectSlug %>/cycle/<%= cycle.id %>/surveys?filter=needs_review'>Show only unreviewed <%= locals.t('surveys', project) %></a>)
                                            <% if ( !noAssignments ) { %>
                                            (<a href='/project/<%= projectSlug %>/cycle/<%= cycle.id %>/surveys?filter=needs_assignment'>Show only unassigned <%= locals.t('surveys', project) %></a>)
                                            <% } %>
                                        <% } %>
                                        <% if ( filter ) { %>
                                            (<a href='/project/<%= projectSlug %>/cycle/<%= cycle.id %>/surveys'>Show all <%= locals.t('surveys', project) %></a>)
                                        <% } %>
                                    <% } %>
                                        </div>
                            </div>
 
                        <% include datatable %>
                    </main>

                </div>
                <% include footer %>
            </div>
    </body>

</html>