<!DOCTYPE html>
<html lang="en">

<% include head %>

<%
const text = {
  'Zone': locals.R.pathOr('Zone', ['config', 'language', 'Zone'], project),
  'zone': locals.R.pathOr('Zone', ['config', 'language', 'zone'], project)
};
%>

<body>
        <% include menu %>
        <div class="content-wrapper">
            <div class="header">
                <h2><%= zone.name %> (<%= zone.code %>)</h2>
            </div>
            <div class="content">
            <aside>
                <a href='/project/<%= project.slug %>/zone/<%= zone.id %>/edit'>Edit <%= text.zone %></a><br>
            </aside>
            <h3>Description:</h3>
            <section>
                <%= zone.description %>
            </section>
        </div>
        <% include footer %>
    </div>
</body>

</html>