<!--

@todo, add:
OBSERVATION:
- Select species
- Select breeding code
- Enter location of territory or nest

dependencies:
PROJECT:
- List of valid species
- Breeding codes (standard + custom)

FILES:
- Nest photos
-->

<!DOCTYPE html>
<html lang="en">

<% include ../../head %>

<%
const taxaList = locals.R.defaultTo([], JSON.parse(survey.Cycle.taxa));
%>

    <body>
        <% include ../../menu %>
            <div class="content-wrapper">
                <div class="header">
                    <% if (locals.from) { %>
                        <div id="previous-observation-id">#<%= locals.from %> submitted</div>
                    <% } %>
                    <% if (locals.fromNewSurvey) { %>
                        <div id="previous-survey-id">Survey #<%= locals.fromNewSurvey %> started</div>
                    <% } %>
                    <h2>Breeding Bird Survey Species Observation</h2>
                </div>
                <div class="content">

                    <form action="/project/<%= project.slug %>/observation" method="POST" class="pure-form pure-form-aligned">

                        <fieldset>
                            <div class="pure-control-group">
                                <label for="form-species-name">Species</label>
                                <select name="species_name" id="form-species-name" required>
                                    <option value="">Select one...</option>
                                    <%
                                        taxaList.forEach(species => {
                                    %>
                                    <option value="<%= species %>"><%= species %></option>
                                    <%
                                        });
                                    %>
                                </select>
                            </div>

<%
const breedingCodes = [
    {
        name: 'Nest with Young',
        description: 'Nest with young seen or heard.',
        code: 'NY',
        status: 'confirmed'
    },
    {
        name: 'Nest with Eggs',
        description: 'Nest with eggs',

        code: 'NE',
        status: 'confirmed'
    },
    {
        name: 'Occupied Nest',
        description:
            'Occupied nest presumed by parent entering and remaining, exchanging incubation duties, etc.',
        code: 'ON',
        status: 'confirmed'
    },
    {
        name: 'Recently Fledged',
        description:
            'Recently fledged or downy young observed while still dependent upon adults.',
        code: 'FL',
        status: 'confirmed'
    },
    {
        name: 'Feeding Young',
        description:
            'Adult feeding young that have left the nest, but are not yet flying and independent (should not be used with raptors, terns, and other species that may move many miles from the nest site; often supersedes FL).',
        code: 'FY',
        status: 'confirmed'
    },
    {
        name: 'Carrying Fecal Sac',
        description: 'Adult carrying fecal sac.',
        code: 'FS',
        status: 'confirmed'
    },
    {
        name: 'Carrying Food',
        description:
            'Adult carrying food for young (should not be used for corvids, raptors, terns, and certain other species that regularly carry food for courtship or other purposes).',
        code: 'CF',
        status: 'confirmed'
    },
    {
        name: 'Used Nest',
        description:
            'Nest is present, but not active. Use only if you are certain of the species that built the nest.',
        code: 'UN',
        status: 'confirmed'
    },
    {
        name: 'Distraction Display',
        description: 'Distraction display, including feigning injury.',
        code: 'DD',
        status: 'confirmed'
    },
    {
        name: 'Physiological Evidence / Brood Patch',
        description:
            'Physiological evidence of nesting, usually a brood patch. Generally rare.',
        code: 'PE',
        status: 'confirmed'
    },
    {
        name: 'Nest Building',
        description:
            'Nest building at apparent nest site (should not be used for certain wrens, and other species that build dummy nests; see code "B" below for these species).',
        code: 'NB',
        status: 'confirmed/probable'
    },
    {
        name: 'Carrying Nesting Material',
        description: 'Adult carrying nesting material; nest site not seen.',
        code: 'CN',
        status: 'confirmed/probable'
    },
    {
        name: 'Wren/Woodpecker Nest Building',
        description:
            ' Some species, including certain wrens (e.g., Marsh Wren), woodpeckers, and certain other cavity nesters (e.g., barbets) may build dummy nests and thus nest building activity cannot be considered confirmation. Use this category in those cases.',
        code: 'B',
        status: 'probable'
    },
    {
        name: 'Territory held for 7+ days',
        description:
            'Territorial behavior or singing male present at the same location 7+ days apart.',
        code: 'T',
        status: 'probable'
    },
    {
        name: 'Courtship, Display or Copulation',
        description:
            'Courtship or copulation observed, including displays and courtship feeding.',
        code: 'C',
        status: 'probable'
    },
    {
        name: 'Visiting probable Nest site',
        description:
            'Visiting repeatedly probable nest site (primarily hole nesters).',
        code: 'N',
        status: 'probable'
    },
    {
        name: 'Agitated behavior',
        description:
            'Agitated behavior or anxiety calls from an adult. This excludes responses elicited by "pishing", playing recordings, or mobbing behavior that species engage in year-round (for instance, mobbing an owl).',
        code: 'A',
        status: 'probable'
    },
    {
        name: 'Pair in suitable habitat (Probable)',
        description:
            'Pair observed in suitable breeding habitat within breeding season.',
        code: 'P',
        status: 'probable'
    },
    {
        name: 'Multiple (7+) singing males',
        description:
            'At least 7 singing males present in suitable nesting habitat during breeding season.',
        code: 'M',
        status: 'probable'
    },
    {
        name: 'Singing Male Present 7+ Days',
        description:
            'Use only if you have observed a singing male at the exact spot (same tree or shrub) one week or more earlier in the season. Do not use if you have observed a singing male a week earlier elsewhere on the same transect covered by your checklists.',
        code: 'S7',
        status: 'probable'
    },
    {
        name: 'Singing male',
        description:
            'Singing male present in suitable nesting habitat during its breeding season.',
        code: 'S',
        status: 'possible'
    },
    {
        name: 'In appropriate habitat',
        description:
            'Adult in suitable nesting habitat during its breeding season.',
        code: 'H',
        status: 'possible'
    },
    {
        name: 'Flyover',
        description:
            'Flying over only -- This is not necessarily a breeding code, but can be a useful behavioral distinction.',
        code: 'F',
        status: 'observed'
    }
];

%>

                            <div class="pure-control-group">
                                <label for="form-breeding-code">Breeding Code</label>
                                <select name="breeding_code" id="form-breeding-code" required>
                                    <% breedingCodes.forEach(code => { %>
                                        <option value="<%= code.code %>"><%= code.code %> - <%= code.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="pure-control-group">
                                <label for="form-notes">Notes</label>
                                <textarea cols="35" rows="5" name="notes" id="form-notes" placeholder="Provide notes if possible"></textarea>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="pure-controls">
                                <input type="checkbox" name="more_observations" value="true" id="form-more-observations" checked>
                                <label for="form-more-observations">Return to observation form when submitted</label>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="pure-controls">
                                <p>Photos can be added after this is submitted.</p>
                            </div>
                        </fieldset>

                        <input type="hidden" name="survey" value="<%= survey.id %>">
                        <input type="hidden" name="cycle" value="<%= cycle.id %>">

                        <% if (locals.resubmit) { %>
                        <input type="hidden" name="resubmit" value="<%= resubmit.id %>">
                        <fieldset>
                            <legend>Resubmit</legend>
                            <div class="pure-controls">
                                    <label></label>
                                    <p>This is a resubmit of <b>Observation #<%= resubmit.id %></b>. Please review the data carefully so you need not re-enter again!</p>
                            </div>
                        </fieldset>
                        <% } %>

                        <fieldset>
                            <div class="pure-control-group">
                                <label for="form-submit"></label>
                                <button id="form-submit" type="submit" class="pure-button pure-button-primary">Add observation</button>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
    </body>

</html>